// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-steps {
  color: $white;
  border-radius: 20px;
  width: 100px;
  font-size: 11px;
  text-align: center;
  background-color: $white;
  color: $theme-purple;
  font-weight: bolder;
  border: 2px solid $theme-purple;
  pointer-events: none;
  &:active, &.active {
    background: $theme-purple;
    color: $white;
  }
  &.done {
    background:darken($theme-purple,25%);
  }
  @include respond-to('small') {
    width: 150px;
    font-size: 14px;
  }
}
.customBtn {
 color: white;
 text-decoration: none;
 padding: 7px 15px;
 border-radius: 5px;
 text-transform: uppercase;
 font-weight: 100;
 letter-spacing: 1px;
 outline: 0 !important;
 border: none;
 cursor: pointer;
 background-color: transparent;
}
%customBtn-sm-shared {
  @include button-bg($white-2);
  border: 1px solid $light-purple;
  color: $theme-purple;
  padding: 5px 20px;
  font-size: 0.75rem;
  letter-spacing: 0.5;
  cursor: pointer;
}
.customBtn-sm {
  @extend %customBtn-sm-shared;
}
.customBtn-icon {
  @include button-bg(white);
  color: $theme-purple;
  padding: 4px 7px;
  border-radius: 20px;
  text-transform: inherit;
  border: 1px solid $off-white;
}

.customBtn-error {
  @include button-bg($white);
  color: $error;
  border-radius: 50%;
  padding: 3px 5px 2px 7px;
}
.customBtn-purple {
   @include button-bg($theme-purple);
   padding: 5px 10px;
   border: 1px solid $light-purple;
}
.customBtn-white {
   @include button-bg($white);
   color: $theme-purple;
   border: 1px solid $theme-purple;
   border-radius: 20px;
}
.customBtn-gray {
   @include button-bg($light-gray);
   color: $default-text;
   padding: 5px 10px;
   border: 1px solid $gray;
}
.customBtn-special {
  @include button-bg ($dark-purple);
  background: linear-gradient(45deg, rgba($light-purple,1) 0%, rgba($light-blue,1) 100%);
  box-shadow: 0 0.15rem 2rem 0.05rem rgba($light-purple,0.5);
}
.customBtn-remove {
  @include button-bg($off-white);
  color: $error;
  padding: 4px 7px;
  border-radius: 20px;
  text-transform: inherit;
}
// disabled
.customBtn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
// play and pause toggle btn
.toggleBtn {
	display: none;
	+ .playpauseToggletgBtn {
		outline: 0;
		display: inline-block;
		width: 5em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: inline-block;
			content: "";
			// width: 50%;
			// height: 100%;
		}
		&:after {
			left: 0;
		}
		&:before {
			display: none;
		}
	}
	&:checked + .playpauseToggletgBtn:after {
		left: 50%;
	}
}
.playpauseToggle {
	+ .playpauseToggletgBtn {
    vertical-align: middle;
    letter-spacing: 1;
    font-size: 14px;
    // padding-top: 1px;
    border-radius: 5px;
    text-transform: uppercase;
		overflow: hidden;
		backface-visibility: hidden;
		transition: all .2s ease;
		background: $light-purple;
    box-shadow: 0 1px 20px 0 rgba(202, 202, 205, 0.56);
		&:after,
    &:before {
			display: inline-block;
			transition: all .2s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			color: white;
		}
		&:after {
			left: 100%;
			content: attr(data-tg-on);
		}
		&:before {
			left: 0;
			content: attr(data-tg-off);
		}
		&:active {
			background: $light-purple;
			&:before {
				left: -10%;
			}
		}
	}
	&:checked + .playpauseToggletgBtn {
    background: $theme-purple;
    &:before {
      left: -100%;
    }
    &:after {
      left: 0;
    }
    &:active:after {
      left: 10%;
    }
	}
}

.customStopBtn {
  font-size: 14px;
    text-transform: uppercase;
    padding: 3px 5px;
    border-radius: 5px;
    color: $theme-purple;
    letter-spacing: 0.5px;
}
