// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
body {
  margin-top: 3rem;
  background-color: white;
  font-size: 14px;
  height: 100%;
  background-color: $off-white;
}
h6 {
  font-family: Quarion-Hairline;
  font-weight: normal;
  font-style: normal;
  text-transform: inherit;
  color: inherit;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
// @include media-breakpoint-up(md) {
//   .container {
//     width: 1200px;
//   }
// }
a {
  text-decoration: none;
  color: $theme-purple;
  cursor: pointer;
  @include on-event {
    color: $dark-purple;
    font-weight: 900;
  }
}
