// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  @include respond-to('small') {
    padding-left: 20px;
    padding-right: 20px;
  }
 }

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
// pageLoader
.pageLoader {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    overflow: hidden;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.95);
    background-image: url("../img/_loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}
// custom shadows
.box-shadow {
  // box-shadow: rgba(60, 64, 67, .04) 0 1px 2px 0, rgba(60, 64, 67, .1) 0 1px 3px 1px;
  // box-shadow: 0 1px 20px 0 rgba(202, 202, 205, 0.56);
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);
}
.box-shadow-purple {
  box-shadow: 0 7px 16px 0 rgba(161,130,195,0.3);
}

// custom text color
.text-purple {
  color: $theme-purple;
}
.text-gray {
  color: darken($gray,10%);
}
.text-white {
  color: white;
}
.text-error {
  color: $error !important;
}
.text-error50 {
  color: rgba($error, 0.5);
}
.text-bold {
  font-family: Quarion-Book;
  font-weight: 800;
}

// custom badge color
.badge-gray {
  background-color: $gray;
}
.badge-white {
  background-color: $white;
  color: $dark-purple;
  border: 1px solid $gray;
}

// custom borders
.border-purple {
  border-color: $dark-purple !important;
}
.border-light-purple {
  border: 2px solid $light-purple !important;
}
.border-error {
  border-color: $error;
}

// custom background colors
.bg-gray {
  background-color: $gray;
}
.bg-lightgray {
  background-color: rgba($gray, 0.25);
}
.bg-white {
  background-color: white;
}
.bg-white2 {
  background-color: $white-2 !important;
}
.bg-offWhite {
  background-color: $off-white;
}

// custom alerts
.alert-purple {
  background-color: rgba($light-purple, 0.25);
  color: $theme-purple;
}
.panel-error {
  border: 2px solid $error !important;
  box-shadow: 0 0.15rem 0.75rem 0.05rem rgba($error,0.5);
}

// custom font size;
.font-13 {
  font-size: 13px;
}
.letterspacing-normal {
  letter-spacing: normal !important;
}
// other custom styles
.inline {
  display: inline !important;
}
.underline {
  text-decoration: underline;
}

// custom widths
.w-15 {
  width: 5%;
  @include respond-to('xs') {
    width: 15%;
  }
  @include respond-to('small') {
    width: 25%;
  }
}
// .arrow {
//   border: solid black;
//   color: #000;
//   border-width: 0 3px 3px 0;
//   display: inline-block;
//   padding: 3px;
//   transform: rotate(-135deg);
//     -webkit-transform: rotate(-135deg);
// }
