// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  @include respond-to('small') {
    padding-left: 20px;
    padding-right: 20px;
  }
 }

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.box-shadow {
  box-shadow: rgba(60, 64, 67, .04) 0 1px 2px 0, rgba(60, 64, 67, .1) 0 1px 3px 1px;
}
.box-shadow-purple {
  box-shadow: 0 0.15rem 0.75rem 0.05rem rgba(161,130,195,0.75);
}
.text-purple {
  color: $theme-purple;
}
.text-gray {
  color: darken($gray,10%);
}
.badge-gray {
  background-color: $gray;
}
.badge-white {
  background-color: $white;
  color: $dark-purple;
  border: 1px solid $gray;
}
.bg-lightgray {
  background-color: rgba($gray, 0.25);
}
.bg-white {
  background-color: $white;
}
.alert-purple {
  background-color: rgba($light-purple, 0.25);
  color: $theme-purple;
}
.w-15 {
  width: 5%;
  @include respond-to('xs') {
    width: 15%;
  }
  @include respond-to('small') {
    width: 25%;
  }
}

.font-13 {
  font-size: 13px;
}
.inline {
  display: inline !important;
}
.underline {
  text-decoration: underline;
}
// .arrow {
//   border: solid black;
//   color: #000;
//   border-width: 0 3px 3px 0;
//   display: inline-block;
//   padding: 3px;
//   transform: rotate(-135deg);
//     -webkit-transform: rotate(-135deg);
// }
