// -----------------------------------------------------------------------------
// This file contains styles that are specific to the information page.
// -----------------------------------------------------------------------------
#sessionDateTimeTable {
  tr.active {
    background-color: rgba($light-purple,0.25) !important;
    .customBtn-sm {
      background-color: $white;
      border-color: $dark-purple;
      color: $theme-purple;
      font-weight: bold;
    }
  }
}
