// -----------------------------------------------------------------------------
// This file contains styles that are specific to the summary page.
// -----------------------------------------------------------------------------

.card-footer {
  background-color: rgba($gray, 0.25);
  font-size: 15px;
}
table {
  td {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
}
