// -----------------------------------------------------------------------------
// This file contains styles that are specific to the summary page.
// -----------------------------------------------------------------------------

.card-footer {
  background-color: rgba($gray, 0.25);
  font-size: 15px;
}

#examineeFullInfoPanel {
  // accordion
  .panel-heading {
    border-bottom: 1px solid $light-gray !important;
    border-top: 1px solid $light-gray !important;
    .panel-title {
      position: relative;
      color: $theme-purple;
    }
  }
  .panel-body {
    padding-bottom: 0;
    border-top: none !important;
  }
  .panel-group .panel + .panel {
    margin-top: 0;
  }
  .active {
    color: $theme-purple !important;
  }
  .panel {
    border-color: $gray;
    margin-top: 0px;
    border-bottom: none !important;
    border-radius: 6px !important;
    a {
      display: block;
      margin: 10px 0;
    }
    .panel-heading {
      a {
        .collapsed:hover, .collapsed:focus {
          transition: all 0.2s ease-in;
        }
        .collapsed:hover::before, .collapsed:focus::before {
          color: $theme-purple;
          border-bottom: 1px solid $light-gray !important;
          border-top: 1px solid $light-gray !important;
        }
      }
      a:not(.collapsed) {
        color: $theme-purple;
        transition: all 0.2s ease-in;
      }
    }
  }
  // .panel:last-child {
  //   .panel-collapse {
  //     .panel-body {
  //       .row:last-child {
  //         border-bottom-left-radius: 6px;
  //         border-bottom-right-radius: 6px;
  //         .row {
  //           border-bottom-left-radius: 6px;
  //           border-bottom-right-radius: 6px;
  //         }
  //       }
  //     }
  //   }
  // }
  .accordion-toggle::before {
    // content: '>';
    font-family: 'iconic-sm';
    content: '\e155';
    float: right;
    color: $theme-purple;
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
    font-weight: bolder;
    font-size: 0.5em;
    margin-top: 5px;
  }
  .accordion-toggle.collapsed::before {
    color: $theme-purple;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
  }
}
